@using DZ17.Controllers
@{
	ViewData["Title"] = "AddProducts";
}

@model Product

<html>
<body>
	<h1>Product:</h1>
	<ul>
		@using (Html.BeginForm("Add", "Products", FormMethod.Post))
		{
			<div>
				@Html.LabelFor(Model => Model.Id)
				@Html.TextBoxFor(Model => Model.Id)
			</div>
			<div>
				@Html.LabelFor(Model => Model.Name)
				@Html.TextBoxFor(Model => Model.Name)
			</div>
			<div>
				@Html.LabelFor(Model => Model.Price)
				@Html.TextBoxFor(Model => Model.Price)
			</div>
			<div>
				<button type="submit" class="btn btn-outline-secondary" value="Add" />

			</div>

		}
	</ul>
</body>
</html>
